
{% extends "layout.html" %}
{% block content %}
<div>
<h1>Welcome to the site made by <i>WaznyKamo</i></h1>
<h4>It was created mainly to train making web pages in Flask.<br>
    The intention behind it is to work kind of like a online shop <br>
    with a great focus on the back-end part.<br><br></h4>

    Already implemented:
    <ul>
        <li>Layout of the website</li>
        <li>Database of products and categories</li>
        <li>Viewing products and categories from the DB</li>
        <li>User registration</li>
        <li>Login(session)</li>
    </ul>

    Not implemented but planned to be added soon:
    <ul>
        <li>Session (cart)</li>
        <li>Admin - view of the current accounts etc.</li>
        <li>Ability to add offers after logging in</li>

    </ul>
</div>

{% endblock %}
