
{% extends "layout.html" %}
{% block content %}

<form method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {{ form.csrf_token }}

    {{ form.email }}: {{ form.email.label }}

    {{ form.password }}: {{ form.password.label }}

    <input type="submit", value="Log in">

</form>
{% endblock %}